<nav class="site-nav">
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="/bio/">Bio</a></li>
    <li><a href="/volumes/">Volumes</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
</nav>
