{% extends "base.njk" %}

<link rel="stylesheet" href="{{ '/assets/css/page.css' | url }}">


{% block content %}
<article class="page-content">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>
{% endblock %}
